@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #060819;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.line {
  width: 4px;
  height: 10px;
  background-color: #8094ef;
  margin: 0 2px;
  border-radius: 2px;
  animation: expand 0.5s ease-in-out infinite alternate;
}

.line:nth-child(1) {
  animation-delay: 0s;
}

.line:nth-child(2) {
  animation-delay: 0.1s;
}

.line:nth-child(3) {
  animation-delay: 0.2s;
}

.line:nth-child(4) {
  animation-delay: 0.3s;
}

.line:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes expand {
  0% {
    height: 10px;
  }
  100% {
    height: 40px;
  }
}

.container-bg {
  position: relative;
  border-radius: 5px; /* this doesn't work */
  padding: 2px;
  border-radius: 10px;
  box-sizing: border-box;
  border-radius: 32px;
  overflow: hidden;
}

.container-bg::before {
  border-radius: 32px;
  content: "";
  background-image: radial-gradient(
    116.3% 233.53% at 106.7% 3.01%,
    #869afa 0%,
    rgba(134, 154, 250, 0.05) 100%
  );
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  position: absolute;
  z-index: -1;
}

.bg-gradient {
  background: radial-gradient(
      116.3% 233.53% at 106.7% 3.01%,
      #1a2032 0%,
      #0f101d 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
